@import '../../styles.scss';

.track {
  border: 1px solid $primary_border_color;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  &__title {
    padding: 1rem;
    color: $primary_color;
  }
  &__description {
    padding: 1rem 1rem 0 1rem;
  }
}
