@import '../../styles.scss';

.lang-menu {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  &__button {
    background-color: transparent;
    border: none;
    color: $primary_color;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
    padding: 0;
    &:hover {
      color: $primary_color_dark;
    }
  }
}
